.container__gallery__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, .3);
  z-index: 200;
}

.container__gallery__overlay__horiz-menu {
  width: fit-content;
  margin: 7rem auto 0;
  box-shadow: 0 0 10px #818181, 0 0 4px #949494dd;
}

.container__gallery__overlay__horiz-menu li:not(:last-child) {
  margin-right: 2rem;
}

.container__gallery__overlay__tips {
  width: fit-content;
  margin: 2rem auto 0;
}

.container__gallery__overlay__models,
.container__gallery__overlay__scale {
  min-width: 35rem;
  width: fit-content;
  margin: 1rem auto 0;
}