.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff9f;
}

.modal--closed{
  display: none;
}

.modal__main{
  width: 50%;
  background-color: #fff;
  margin: 8rem auto 0;
  border-radius: 6px;
  box-shadow: 0 0 5px #dbdbdb,
    0 0 1px #000;
}

.modal__main__header, .modal__main__body, .modal__main__footer{
  padding: 1rem 1.4rem;
}

.model__main__body__preview{
  flex: 0 0 30rem;
  height: 15rem;
}

.model__main__body__form{
  flex: 1;
}