.art-item__background{
  height: 15rem;
  border-radius: 6px;
  overflow: hidden;
}

.art-item__details{
  padding: .5rem;
}

.art-item__details__profile{
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.art-items__details__desc{
  flex: 1;
}

.art-items__details__view-art{
  color: var(--primary-3);
}

.art-items__details__cart{
  color: #515b81;
  cursor: pointer;
}