.home-showcase{
  position: relative;
}

.home-showcase__background{
  height: 50rem;
  opacity: .5;
}

.home-showcase__details{
  position: absolute;
  left: 11%;
}

.home-showcase__details h1{
  font-size: 5rem;
}

.home-title{
  padding: 4rem 11% 3rem;
}

.home-cards{
  padding: 0 11% 0;
  gap: 1rem;
  margin-bottom: 5rem;
}

.home-cards__item{
  flex: 0 0 37rem;
  border: 1px solid #eee;
  border-radius: 4px;
}

.home-cards__item h4, .home-cards__item p{
  /* text-align: center; */
}

.home-cards__item h4{
  margin: 1rem 0 .5rem;
}

.home-cards__item__back{
  height: 20rem;
}

.home-cards__item__description{
  padding: 1rem;
}